{% extends "base.html" %}
{% block title %}Admin Panel – Kiwix Hotspot{% endblock %}

{% block head %}
<style type="text/css">
.content {
}

.config-options {
}
.cards {
}
.card {
	width: 50%;
	--bs-card-bg: #13121c;
	--bs-card-border-color: #4f535e;
	padding: 1rem;
}

.card:hover {
	--bs-card-bg: #363651;
	--bs-card-border-color: #47506b;
	cursor: pointer;
}

h2 {
	font-size: 1rem;
}
.card-title {
	font-size: 1rem;
}
.card-text {
	font-size: .8em;
}
.cards {
	gap: 1em;
}
.notice {
	font-size: .9em;
}


</style>
{% endblock %}

{% block content %}
	<div class="content">
		<div class="mb-5 col-lg-8">
			<p>This interface allows you to configure parts of your Kiwix Hotspot.</p>
			<p>Beware that while it's not possible to harm the device from here, given you have control over the Hotspot's content, be careful when <strong>deleting</strong>.</p>
		</div>

	    <div class="config-options row mb-5">
		  <div class="col-12 col-md-4 col-xl-3">
		  	<h2>Configuration options</h2>
		  </div>
		  <div class="col-12 offset-xl-1 col-md-8 d-flex flex-row cards">
				<a href="{{ url_for('wifi_config') }}" class="card">
						<h5 class="card-title">WiFi Settings</h5>
						<p class="card-text">Change the Hotspot's WiFi network settings.</p>
				</a>

				<a href="{{ url_for('optional_config') }}" class="card">
						<h5 class="card-title">Optional Features</h5>
						<p class="card-text">Enable/disable additional features.</p>
				</a>
  	  		</div>
		</div>

		{% if links %}
		<div class="other-options row">
			<div class="col-12 col-md-4 col-xl-3">
				<h2>Additional tools</h2>
			</div>

			<div class="col-12 offset-xl-1 col-md-8 d-flex flex-row cards mb-3">
				<p class="notice">These links will take you elsewhere on the Hotspot and you may have to login again.</p>
			</div>

			{% for link in links %}
				{% if loop.index0 is even() %}
				<div class="col-12 offset-md-4 offset-xl-4 col-md-8 d-flex flex-row cards mb-3">
				{% endif %}
					<a href="{{ link.url }}" class="card" target="_blank">
						<h5 class="card-title">{{ link.title }}</h5>
						<p class="card-text">{{ link.text }}</p>
					</a>
				{% if loop.index0 is odd() or (loop.last and loop.length is odd()) %}
				</div>
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
	</div>

{% endblock %}
