{% extends "base.html" %}

{% block title %}Please reboot – Admin Panel – Kiwix Hotspot{% endblock %}

{% block theme %}light{% endblock %}
{% block head %}
<style type="text/css">
.reboot-popup {
  background-color: white;
  border-radius: 1em;
  padding: 3em 2em 2em 2em;
  max-width: 500px;
  margin: auto;
}
.reboot-popup form {
  margin-top: 1em;
  margin-bottom: 3em;
}
.reboot-popup h1, .reboot-popup h2 {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.reboot-popup p {
  font-size: 1em;
}
.reboot-popup h2 {
  margin-top: 2em;

}

.bd-callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}
.bd-callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: .25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
</style>
{% endblock %}

{% block content %}
<div class="reboot-popup">
    <h1>Your changes have been saved.</h1>
    <p>Those <strong>will be applied upon next restart</strong> of the device.</p>
    <h2 class="text-center">Do you want to restart the device now?</h2>
    <form action="{{ url_for('restart') }}" method="POST" class="text-center">
      <a class="btn btn-secondary mb-1 mb-md-0" href="{{ url_for('logout') }}">Restart later (back to Dashboard)</a>
      <button class="btn btn-danger mb-1 mb-md-0 ms-md-2">Restart now <i class="fa-solid fa-power-off"></i></button>
    </form>
    <p class="bd-callout bd-callout-warning">
    Restarting now means you'll be disconnected from the device, as well as any other client. There is no harm in restarting later. Kiwix Hotspot continues to function without the changes.</p>
</div>
{% endblock %}

